{% extends 'base.html' %}

{% block header %}
  <h1>Lista de Videojuegos</h1>
{% endblock %}

{% block content %}
  {% if games %}
    <ul class="game-list">
      {% for game in games %}
        <li class="game-item">
          <h2>{{ game.title }}</h2>
          <p><strong>Plataformas:</strong> {{ game.platforms }}</p>
          <a href="{{ game.link }}" target="_blank">Ver más</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron juegos.</p>
  {% endif %}
{% endblock %}
